@*
@using PAT.Provider.Info.Dtos
@model BranchDetailsToReturnDto*@
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>terms policy</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="~/css/terms.css" rel="stylesheet">


</head>

<body>
    <header class="terms-header">
        <h2 class="terms-header-title">
            شروط الاستخدام
        </h2>
        <div class="terms-header-subtitle">
            الرئيسية&gt;&gt;شروط الاستخدام</div>
    </header>
    <div class="container">
        <div class="terms-content">
            <div class="terms-title">
                مرحبا بكم في الاكاديمية المهنية للمعلمين
            </div>
            <p class="terms-paragraph">
                يرجى قراءة شروط الخدمة الخاصة بEYouth قبل التسجيل في منصة EYouth الإلكترونية على العنوان
                (https://eyouthlearning.com) أو استخدام أي جزء من محتواها (ونعني بكلمة "المنصة" أو "منصتنا")، جميع
                المحتويات والصفحات التي تقع ضمن نطاق موقع ومنصة EYouth الإلكترونية عبر الإنترنت). تعتبر كل من هذه الشروط
                وسياسة الخصوصية بمثابة اتفاقيات بينك وبين EYouth. كما أنك تقبل وتوافق من خلال استخدامك للمنصة ، على
                الالتزام قانونًا بالاتفاقيات وعلى شروط الاستخدام هذه والامتثال لما تتضمنه من أحكام، سواء كنت مستخدمًا
                زائراً أومسجلًا أو مشتركاً، يتضمن ذلك إرشادات استخدام خدمة إجراءات الدخول، والتصفح أو التسجيل أو
                الاشتراك للاستفادة من خدمات ومحتوى المنصة، وفي حال عدم موافقتكم على هذه الشروط، يجب عليكم عدم استخدام
                المنصة.
            </p>



            <div class="terms-title">
                الموافقة على نقل المعلومات الشخصية
            </div>
            <div class="terms-sub-title">
                تتضمن شروط الاستخدام أيضا الشروط الإضافية التالية، التي تنطبق أيضا على استخدامك لمنصتنا
            </div>
            <div class="confirm-text">
                سياسة الخصوصية الخاصة بنا، التي تحدد الشروط التي نقوم بموجبها بمعالجة أية بيانات شخصية تقدمونها لنا أو
                نحصل عليها منكم. وباستخدامكم منصتنا، فإنكم توافقون على هذه المعالجة وتتعهدون بأن جميع البيانات التي
                تقدمونها هي بيانات دقيقة وصحيحة.
            </div>
            <div class="terms-title">
                المعلومات الخاصة بنا
            </div>
            <p class="terms-paragraph">
                يرجى قراءة شروط الخدمة الخاصة بEYouth قبل التسجيل في منصة EYouth الإلكترونية على العنوان
                (https://eyouthlearning.com) أو استخدام أي جزء من محتواها (ونعني بكلمة "المنصة" أو "منصتنا")، جميع
                المحتويات والصفحات التي تقع ضمن نطاق موقع ومنصة EYouth الإلكترونية عبر الإنترنت). تعتبر كل من هذه الشروط
                وسياسة الخصوصية بمثابة اتفاقيات بينك وبين EYouth. كما أنك تقبل وتوافق من خلال استخدامك للمنصة ، على
                الالتزام قانونًا بالاتفاقيات وعلى شروط الاستخدام هذه والامتثال لما تتضمنه من أحكام، سواء كنت مستخدمًا
                زائراً أومسجلًا أو مشتركاً، يتضمن ذلك إرشادات استخدام خدمة إجراءات الدخول، والتصفح أو التسجيل أو
                الاشتراك للاستفادة من خدمات ومحتوى المنصة، وفي حال عدم موافقتكم على هذه الشروط، يجب عليكم عدم استخدام
                المنصة.
            </p>

            <div class="terms-title">
                الاستخدامات المحظورة
            </div>
            <div class="terms-sub-title">
                يمكنكم استخدام منصتنا فقط لأغراض مشروعة. ولا يجوز لكم استخدام منصتنا:
            </div>
            <ul class="info-paragraph">
                <li class="info-list-item"> المعلومات التعريفية التالية وغير الشخصية عند كل زيارة للمنصة وذلك بشكل
                    تلقائي:EYouthتجمع منصة
                </li>
                <li class="info-list-item"> سياسة الخصوصية الخاصة بنا، التي تحدد الشروط التي نقوم بموجبها بمعالجة أية
                    بيانات شخصية تقدمونها لنا أو نحصل عليها منكم. وباستخدامكم منصتنا، فإنكم توافقون على هذه </li>
                <li class="info-list-item">سياسة الخصوصية الخاصة بنا، التي تحدد الشروط التي نقوم بموجبها بمعالجة أية
                    بيانات شخصية تقدمونها لنا أو نحصل عليها منكم. وباستخدامكم منصتنا، فإنكم توافقون على هذه </li>
            </ul>


            <div class="terms-title">
                الدورات التدريبية والشهادات
            </div>

            <p class="terms-paragraph">
                نحن نقوم بتقديم دورات على منصتنا للراغبين في الاستعداد لاختبار الرخصة المهنية (التربوي العام)، ولايقع
                على منصة EYouth أي مسؤولية في حال عدم تمكنكم من اجتياز الاختبارات ذات العلاقة من الجهات الرسمية.
                أنت توافق على أن التدريب في منصة EYouth لا يعني بأي حال من الأحوال أي ضمانات بتجاوز الاختبارات ذات
                العلاقة من الجهات الرسمية في القطاع التعليمي أو غيرها من القطاعات.
                وحيث إن منصة EYouth تقدم ثلاثين دورة تدريبية معتمدة ومحكمة فسيتم إتاحة الدورات التدريبية التي تم
                الانتهاء من اعتمادها وهي تغطي كافة المجالات ؛ وعليه فقد يتأخر تمكين المتدرب من بدء التدريب على بعض
                الدورات التدريبية التي يجري اعتمادها وهي ست دورات تدريبية، وستتاح كل دورة تدريبية فور اعتمادها.
            </p>





        </div>
    </div>



</body>

</html>
