@using PAT.AccessModel.Models.Info;
@model IReadOnlyList<AcademyMagazine>
@{
    ViewData["Title"] = "Index";
}


<head>

    <title>Academy Magazine</title>

    <style>
 

body {
    font-family: 'JF Flat Regular', Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.all-news-header {
    position: relative;
    background-image: url(../assets/about-bat/about-PAT.jpg);
    padding: 48px 53px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

    .all-news-header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    }

.news-header-text {
    color: white;
    display: flex;
    flex-direction: column;

    z-index: 1;
}

.news-header-title {
    font-family: 'JF Flat Bold';
    font-size: 32px;
    margin-bottom: 20px;
}


.news-header-paragraph {
    font-size: 18px;
}

.date-container {
    display: flex;
    justify-content: space-between;
}

.date {
    font-size: 12px;
}

.read-btn {
    border-radius: 44.05px 0px 0px 44.05px;
    background-color: #BB9417;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

    .read-btn:hover {
        text-decoration: none;
        color: #fff;
    }


.blur-bg {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.27);
    color: white;
    padding: 14px;
}

.latest-new-card {
    display: flex;
    gap: 1em;
    max-height: 88px;
    margin-top: 12px;
}

.latest-img-container {
    position: relative;
    width: 181px;
    height: 88px;
    border-bottom-left-radius: 37px;
}

.latest-new-img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 37px;
    object-fit: cover;
}

.red-layer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #CE112666;
    z-index: 10;
    border-bottom-left-radius: 37px;
}

.latest-img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: 100%;
    height: 100%;
    z-index: 9;
    border-left: 0.39px solid #BB9417;
    border-bottom-left-radius: 37px;
}



.publish-time {
    font-size: 12px;
    color: #CDCDCD;
}

.new-data {
    font-size: 14px;
    font-family: 'JF Flat Bold';
}




.all-news-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
}

.head-text {
    color: #4D5959;
    font-family: 'JF Flat Bold';
    font-size: 20px;
}

.dropdown-news {
    position: relative;
    background: #EFF0F2;
    color: white;
    width: 318px;
    margin-bottom: 25px;
}

    .dropdown-news .label {
        background: #EFF0F2;
        margin-bottom: 5px;
    }

    .dropdown-news .select {
        cursor: pointer;
        transition: 0.3s;
        background: #EFF0F2;
        border-radius: 5px;
        display: flex;
        color: #BCBCBB;
        padding: 15px;
        align-items: center;
        justify-content: space-between;
    }

        .dropdown-news .select .selected {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

            .dropdown-news .select .selected.placeholder {
                color: #6b728c;
                background: none !important;
            }

        .dropdown-news .select .caret {
            margin-left: 10px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #0000008A;
            transition: 0.3s;
        }

    .dropdown-news .menu {
        visibility: hidden;
        padding: 0;
        background-color: #EFF0F2;
        border-radius: 5px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 120%;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s;
        z-index: 1;
    }

    .dropdown-news .menu-open {
        visibility: visible;
        opacity: 1;
    }

    .dropdown-news .menu li {
        cursor: pointer;
        list-style: none;
        color: #6b728c;
        padding: 10px;
    }

        .dropdown-news .menu li:hover {
            background-color: #BB9417;
            color: #EFF0F2;
        }

.caret-rotate {
    transform: rotate(90deg);
}

.active {
    background-color: #BB9417 !important;
    color: #EFF0F2 !important;
}

.all-news-gallery {
    gap: 40px;
    margin-right: 0;
    margin-left: 0;
}


.card {
    padding: 0;
    box-shadow: 0px 5px 40px 0px #12151A0D;
    border: 1px solid #BCBCBB;
    background: #F7F7F9;
}

.card-text {
    font-family: 'JF Flat Bold';
    color: #051D40;
    font-size: 18px;
    margin: 9px;
}

.date-container {
    justify-content: space-between;
    padding: 9px;
    align-items: center;
}

.read-more {
    border: 1.27px solid #BB9417;
    padding: 11.33px 30px;
    border-radius: 10.2px;
    font-size: 12px;
    color: #9D7C33;
}

    .read-more:hover {
        text-decoration: none;
        background-color: #BB9417;
        color: white;
    }

.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2em;
    direction: ltr;
    flex-wrap: wrap;
}

.page-number {
    color: #515151;
    padding: 7px 12px;
    border-radius: 4px;
}

    .page-number:hover, .page-number:active, .page-number:focus, .active {
        background-color: #CE1126;
        color: white;
        text-decoration: none;
    }

.page-btn {
    color: #BB9417;
    background: none;
    border: none;
}

    .page-btn:active, .page-btn:focus {
        border: none;
        outline: none;
    }

    .page-btn:disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
    }

        .banner {
            position: relative;
            width: 100%;
            height: 161px;
            object-fit: cover;
            object-position: 100% 70%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/contactus-header.jpeg");
            background-position: center;
        }

        .banner_header-container {
            position: absolute;
            top: 20%;
            right: 5%;
        }

        .banner__header {
            color: var(--secondary-lightyellow);
        }

        .banner__crumbs {
            color: white;
        }

    </style>
</head>


    <!-- HEADER -->

<header class="header w-100">
    <div class="banner">
        <div class="banner_header-container">
            <h1 class="banner__header">عن الاكاديمية</h1>
            <p class="banner__crumbs">عن الاكاديمية >> مجلة الاكاديمية</p>
        </div>

    </div>
</header>
    <section class="all-news-container">
        <h5 class="head-text">ارشيف المجله</h5>
        <div class='dropdown dropdown-news'>
            <select id="monthSelect" class="form-select select-styled" onchange="filterMagazinesByMonth()">
                <option disabled selected value="">إختر شهر</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>

        </div>
        <div class="all-news-gallery row">
            <!-- Dynamically generated content will be added here -->
            @foreach(var magazine in Model)
            {
                <div class="card col-md-3">
                <img src="http://101.44.222.243:3000/Images/AcademyMagazine/@magazine.CoverImageName"
                         alt="new"
                         class="card-img" />
                    <h6 class="card-title">
                        @magazine.Title
                    </h6>
                    <p class="card-text">
                        @magazine.Description
                    </p>
                    <div class="date-container d-flex justify-content-between align-items-center">
                        <p class="text-muted">  @magazine.CreationDate</p>
                        <p class="text-muted">رقم العدد : @magazine.MagazineNumber</p>
                    <a href="http://101.44.222.243:3000/Images/AcademyMagazine/@magazine.PdfFileName" class="read-more">تحميل العدد</a>
                    </div>
                </div>
            }
        </div>
    </section>

    <div class="mt-3 pagination"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function filterMagazinesByMonth() {
        var selectedMonth = document.getElementById("monthSelect").value;
        
        var url = `/AcademyMagazine/filterMagazines?month=${selectedMonth}`;
        fetch(url)
            .then(response => response.text())
            .then(html => {
                document.querySelector(".all-news-gallery").innerHTML = html;
            })
            .catch(error => console.error('Error loading the magazines:', error));
    }
</script>




