


<link href="~/css/list.css" rel="stylesheet" />


<div class="list-item">
    <a class="btn  btn-sm" href="/UserCertificateRequest/CreateReplacement">
        <i class="fas fa-pencil-alt">
        </i>
        شهادات لا يمكن تجديدها
    </a>
</div>
<div class="list-item">
    <a class="btn btn-sm" href="/UserCertificateRequest/CreateRenewal">
        <i class="fas fa-pencil-alt">
        </i>
       شهادات يمكن تجديدها
    </a>
</div>