@{
ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy policy</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="~/css/privacy.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header class="privacy-header">
        <h2 class="privacy-header-title">سياسة الخصوصية</h2>
        <div class="privacy-header-subtitle">الرئيسية>>سياسة الخصوصية </div>
    </header>
    <div class="container">
        <div class="privacy-content">
            <div class="privacy-title">مقدمة</div>
            <p class="privacy-paragraph">يقصد بسياسة الخصوصية، مجموع القواعد والاجراءات التي تحدد الأسُس المتبعة من قبل
                منصة EYouth فيما يتعلق بجمع وحفظ البيانات والمعلومات الشخصية لمستخدمي المنصة التعليمية. نرجوا الاطلاع
                على البنود الواردة في هذه السياسة وقراءتها بعناية، وفي حال وجود أي استفسارات فيما يخص السياسة أو أحد
                بنودها، يمكن التواصل مع إدارة المنصة من خلال صفحة "اتصل بنا". ومن خلال زيارة موقعنا والتسجيل أو الاشتراك
                في منصة EYouth، فإن ذلك يعد موافقة على جميع بنود سياسة الخصوصية، لذلك في حال عدم الموافقة على هذه
                السياسة أو احد بنودها، يرجى عدم التسجيل أو الاشتراك في المنصة أو إلغائها في حال أتممت ذلك مسبقاَ.</p>


            <p class="privacy-paragraph">
                تعد المعلومات التي تقدمونها عند التسجيل أو الاشتراك، والتي قد تتضمن – على سبيل المثال لا الحصر – الاسم
                ومعلومات الاتصال والجنس وتاريخ الميلاد والمنطقة والمهنة؛ جمعًا بـ"معلومات شخصية"، كما أن أي إشارة
                لـ"نحن" و"لنا" و "منصتنا" و "المنصة" تُعتبَر إشارة إلى منصة EYouth. لذلك، تنطبق سياسة الخصوصية هذه فقط
                على المعلومات التي يتم الحصول عليها من خلال منصة EYouth- يشار لها في هذه السياسة بـ"المنصة" وهي تشمل
                جميع صفحات المنصة والمحتوى الرقمي وذلك على العنوان "eyouthlearning.com" على شبكة الانترنت، ولا تنطبق هذه
                السياسة على المعلومات التي قد نحصل عليها منكم بطريقة أخرى.

            </p>

            <div class="privacy-title">
                الموافقة على نقل المعلومات الشخصية
            </div>
            <ul class="privacy-paragraph">
                <li>
                    بموجب هذه الوثيقة، أنت توافق على جمع معلوماتك الشخصية – كما بينت في سياسة الخصوصية هذه – واستخدامها
                    والإفصاح عنها والاحتفاظ بها من قبل منصة EYouth، بما في ذلك – على سبيل المثال لا الحصر –: نقل
                    معلوماتك الشخصية بين EYouth والغير يشمل ذلك شركائها والشركات التابعة والفرعية المبينة في سياسة
                    الخصوصية هذه.
                </li>
                <li>
                    وتعتبر أي موافقة متعلقة بحق نقل المعلومات المشار إليها في هذه الفقرة متضمنةً موافقتكم على نقل
                    المعلومات الشخصية القابلة للتطبيق إلى اختصاص قضائي آخر، وهذا قد ينجم عنه مستوى مختلف من حماية
                    الخصوصية عما هو سارٍ في مصر. </li>
            </ul>
            <div class="privacy-title">المعلومات التي نجمعها منكم، وكيف نستخدمها</div>
            <div class="privacy-sub-title">
                بجمع المعلومات المتعلقة بكم حسب التالي:
            </div>
            <div class="info-section">
                <div class="info-title">أولا: المعلومات المقدمة من قبلكم:</div>
                <p class="info-paragraph">
                    Error in Text Contains the at Symbol
                    @* ، أو المعلومات والبيانات التي يتم ارسالها عن طريق البريد الإلكتروني أو من خلال أي قناة تواصل
                    يتضمن
                    ذلك حساباتنا المعتمدة في شبكاتEYouth . فالمعلومات التي تقدمونها لناEYouthالتواصل الاجتماعي التالية
                    (تويتر، انستغرام ، سناب شات، فيسبوك ، تيك توك يوتيوب ) باسم الحساب الرسمي @
                    قد تتضمن معلومات شخصية مثل اسمكم وعنوانكم وعنوان البريد الإلكتروني ورقم الهاتف ورقم الجوال،
                    والمعلومات المالية وبطاقات الائتمان، ووصف
                    الشخصية وصورة فوتوغرافية. كما قد تتضمن تعليقات أوغيرها من المعلومات المنشورة من قبلكم في منصات
                    التواصل الاجتماعي أو غيرها من
                    المنصات المفتوحة على شبكة الانترنت، أو الكوكيز أو المجالات الأخرى من موقعنا التي تكون مصممة
                    للاتصالات العامة أو الاتصالات فيما بين
                    مستخدمين آخرين والتي يمكن الاطلاع عليها وتحميلها من قبل أطراف أخرى من زوار منصتنا.*@
                </p>
            </div>


            <div class="info-section">
                <div class="info-title">
                    ثانيا: المعلومات التي نجمعها عنكم:
                </div>
                <ul class="info-paragraph">
                    <li class="info-list-item"> المعلومات التعريفية التالية وغير الشخصية عند كل زيارة للمنصة وذلك بشكل
                        تلقائي:EYouthتجمع منصة
                    </li>
                    <li class="info-list-item"> الخاص بكم عند الوصول لمنصتنا، وكذلك معلومات الدخول والتسجيل والاشتراك،
                        وتحديدIPمعلومات عن نوع
                        المتصفح واصداره، وعنوان
                        المنطقة الزمنية، وأنواع الوظائف الإضافية وإصدارات المتصفح، ونظام ومنصة تشغيل الانترنت.</li>
                    <li class="info-list-item">. يشمل ذلك المواقع التي ساهمت في وصولك لمنصتنا،EYouthمعلومات تتعلق
                        بزيارتكم وذلك لمعرفة ودراسة
                        تجربة المستخدم لمنصة </li>
                    <li class="info-list-item">)شاملا التاريخ والوقت؛ وكذلك البحث عن الدورات والمحتوى الرقمي الذي قمتم
                        باستعراضه أو
                        البحثURLومسار النقر الكامل على رابط منصتنا (
                        عنه؛ وأوقات الاستجابة في صفحات البحث؛ وأخطاء التحميل؛ ومدة وفترات التصفح للمنصة.</li>
                </ul>
            </div>



            <div class="info-section">
                <div class="info-title">
                    يتم هذه المعلومات والبيانات على النحو التالي:
                </div>
                <ul class="info-paragraph">
                    <li class="info-list-item">لتمكيننا، وتمكين شركائنا والموردين من طرف ثالث من تقديم وإدارة، وتحسين
                        مستوى الدورات التدريبية.</li>
                    <li class="info-list-item">لتمكيننا، وتمكين شركائنا والموردين من طرف ثالث من رفع مستوى أداء الدورات
                        التدريبية، سواء على المستوى الفردي (على سبيل المثال، من
                        قبل أعضاء هيئة التدريب عند تعاملهم مع المتدربين) بشكل إجمالي، أو من خلال إضفاء الصفة الفردية على
                        تجربتهم وتقييم إمكانيات الدخول
                        واستخدام موقعنا وأثر ذلك على المجتمع التعليمي في جميع أنحاء العالم. </li>
                    </uk>
            </div>

        </div>
    </div>

</body>

</html>
