html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body{
    padding:0  !important
}
/*Start Custom styles*/
.cover-preview {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-left:15px
}

.toMargine{
    margin-bottom:0;
}



/* Start override select2 */

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}



.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #ffffff;
}

.select2 {
    width: 100% !important;
}
/* End override select2 */